<style> form div { padding: 10px; } </style>

<form action="/cats" method="post">
    <div>
        <input name="name" type="text">
        <input name="color" type="text">
        <input type="submit" />
    </div>
</form>